<h2>Seller</h2>
<a class="btn btn-primary" <%=link_to"welcome", root_path %> </a>
<a class="btn btn-primary" <%=link_to"Buyers", buyers_path %> </a>
<%  @sellers.each do |seller| %>
<p><%= seller.room %></p>
<% end %>

