<h1>Pages#welcome</h1>
<p>Find me in app/views/pages/welcome.html.erb</p>
<a class="btn btn-primary" <%=link_to"Buyers", buyers_path %> </a>
<a class="btn btn-primary" <%=link_to"sellers", sellers_path %> </a>