
    
    
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bonjour Mory</h1>
    <p class="lead">T'es prêt ?</p>
     <a class="btn btn-primary-versBuyers" <%=link_to"Buyers", buyers_path %> </a>
<a class="btn btn-primary" <%=link_to"Sellers", sellers_path %> </a>
  </div>
</div>