


<div class="div2">
<%= form_tag(:action => "create", :method => "post")  do %>
  <label>Room</label>
  <%= text_field_tag :room, "",class: 'input' %> 
  <label>Bedroom</label>
  <%= text_field_tag :bedroom, "", class: 'input' %>
  <%= submit_tag "Save" %>
<% end %>
</div>