



<%= form_tag(:action => "create", :method => "post")  do %>
  <input type="text" name="room" />
  <p><%= @buyer.errors[:room].first %></p>
  <input type="text" name="bedroom" />
  <p><%= @buyer.errors[:bedroom].first %></p>
  <input type="submit" value="Add buyer" />
<% end %>