@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
/* Buyers  E8A80C => marron clair, 250CE8 => bleu foncé, 0DFFB8 => vert eau   */
/* Sellers B20FA9 => Rose foncé, FF6DF7 => rose plus clair, FF49F5 => rose plus foncé, 42B210 => vert foncé, 82FF49, vert clair */
.btn-primary-versBuyers {
  color: #FF49F5;
  background-color: #82FF49;
  }

.btn-primary-sellers {
  color: #E8A80C;
  background-color: #8FFF78;
  }

body {
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.div2 {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid green;
}

.input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #3CBC8D;
  color: white;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}